{% extends 'base.html' %}
{% block title %}Resume{% endblock %}
{% block content %}

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Junior Pyhton developer</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Fateme Zolfaghari</h4>
              <p><em>I have learned the basics of Python and Django and I am eager and interested to learn more and gain more skills and work in Python and Django.</em></p>
              <p>
              <ul>
                <li>Tehran Province, Damavand, Iran</li>
                <li>(+98) 09126477314</li>
                <li>fateme.zolfaghari@gmail.com</li>
                <li>linkedin: fateme-zolfaghari-17fa04</li>
              </ul>
              </p>
            </div>

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor's degree in Management and Educational Planning</h4>
              <h5>2008 - 2012</h5>
              <p><em>Islamic Azad University</em></p>
              <p></p>
            </div>

            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Accounting Supervisor</h4>
              <h5>2009 - 2020</h5>
              <p><em>Damavand County, Tehran, Iran </em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

{% endblock %}